name: Go CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Download dependencies
        run: go mod download

      - name: Build app
        run: go build -o main .

      - name: Run tests (if exist)
        run: go test ./...

      - name: Build Docker image
        run: docker build -t mohaimen22/go-web-app:v1 .

      - name: Push Docker image
        run: docker push mohaimen22/go-web-app:v1
